/* MAIN VIEW STYLES */

/* HERO SECTION ANIMATIONS */

@keyframes blink {
    0% {
        opacity: 100%
    }

    50% {
        opacity: 0%
    }

    100% {
        opacity: 100%
    }
}

/* LOADING SCREEN ANIMATIONS */

@keyframes loadingYellow {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes loadingAqua {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes loadingPink {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes loadingBlue {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes loadingGreen {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100);
    }

    100% {
        transform: translateX(0);
    }
}

/* RESULTS DISPLAY ANIMATIONS */

@keyframes opacity0To100 {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

/* VARIABLES */

:root {
    /*COLORS*/
    --BLACK: rgb(20, 20, 20);
    --BRIGHT-BLACK: rgb(40, 40, 40);
    --YELLOW: rgb(255, 255, 51);
    --AQUA: rgb(10, 255, 255);
    --GREEN: rgb(22, 245, 41);
    --PINK: rgb(245, 53, 170);
    --BLUE: rgb(9, 9, 255);
    --DARK-WHITE: rgb(200, 200, 200);
}


/* ELEMENTS STYLING */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: 0px;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}

body {
    background-color: var(--BLACK);
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
    width: calc(100vw);
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: var(--BLACK);

}

header div {
    display: flex;
    align-items: center;
    font-size: 12px;
}

header p {
    margin-right: 30px;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 15px;
    text-align: left;
    min-height: 100vh;
}

form {
    display: flex;
    width: calc(100% - 30px);
    /* fill the bottom of the page with black */
    box-shadow: 0 10px 0 0 var(--BLACK);
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 6px;
    border: 0.25px solid white;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: var(--BLACK);
}

form div {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);

}

form button:hover {
    transform: scale(1.15);
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.hero-section {
    height: 40vh;
    display: block;
    position: absolute;
    width: 90vw;
    transform: translateY(50%);
}

.hero-section p {
    color: grey;
}

.prompt-examples {
    font-weight: bold;
}


.cursor {
    background-color: white;
    color: white;
    height: auto;
    width: 4px;
    animation: blink 1s linear infinite;
}

.prompt-inputbox {
    text-align: left;
    padding: 5px;
    background-color: var(--BLACK);
    color: white;
    width: calc(100% - 60px);
    height: 2.5em;
    position: relative;
    border: none;
}

.prompt-inputbox:focus {
    border: none;
    outline: none;
}

.tooltip {
    position: absolute;
    transform: scale(0);
    width: max-content;
    font-size: 12px;
    color: white;
    padding: 5px 5px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
    transition: 0.3s transform ease;
    transform-origin: bottom center;
    transition-delay: 0.3s
}

.tooltip::after {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-top-color: white;
    bottom: -80%;
    left: 50%;
    transform: translateX(-50%);
}

/* Loading screen elements */

.loading-screen {
    display: none;
    justify-content: center;
    align-items: center;
}

.loading-screen div {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-right: 0px;
}

.yellow-dot {
    background-color: var(--YELLOW);
    animation: loadingYellow 2s ease-in-out infinite;
}

.aqua-dot {
    background-color: var(--AQUA);
    animation: loadingAqua 2s ease-in-out infinite;
}

.green-dot {
    background-color: var(--GREEN);
}

.pink-dot {
    background-color: var(--PINK);
    animation: loadingPink 2s ease-in-out infinite;
}

.blue-dot {
    background-color: var(--BLUE);
    animation: loadingBlue 2s ease-in-out infinite;
}

/* Results elements */

.results-container {
    justify-content: space-between;
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.movie-container {
    max-width: 280px;
    flex-direction: column;
    width: calc(100% - 30px);
    margin-bottom: 60px;
    opacity: 0%;
    transform-origin: top;
    animation: opacity0To100 1s ease-in-out 1 forwards;
}

.movie-container:nth-child(2) {
    animation-delay: 0.5s;
}

.movie-container:nth-child(3) {
    animation-delay: 1s;
}

.movie-container:nth-child(4) {
    animation-delay: 1.5s;
}

.movie-container:nth-child(5) {
    animation-delay: 2s;
}

.movie-poster {
    border-radius: 1em;
    width: 250px;
    height: auto;
    border: 0.5px solid var(--BRIGHT-BLACK)
}

.movie-info {
    height: fit-content;
    flex-direction: column;
    max-width: 100%;

}

.title-container {
    text-align: center;
    margin: 15px 0px;
}

.movie-title {
    font-size: 1.7em;
    font-weight: bold;
}

.year-rating-length {
    display: flex;
    justify-content: space-between;
    padding: 2px 15px;
    border-radius: 99em;
    align-items: center;
    margin: 10px 0px;
    max-height: 32px;
    font-size: 0.75em;
    color: gainsboro;
    width: 200px;
}

.movie-rating-container {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}

.movie-rating-container img {
    margin-right: 3px;

}

/* border colors */

.border1 {
    border: 1px solid var(--YELLOW)
}

.border2 {
    border: 1px solid var(--AQUA)
}

.border3 {
    border: 1px solid var(--GREEN)
}

.border4 {
    border: 1px solid var(--PINK)
}

.border5 {
    border: 1px solid var(--BLUE)
}

.platforms-container {
    margin-top: 5px;
    margin-bottom: 15px;
    overflow: auto;
}

.platforms-container img {
    border-radius: 5px;
    border: 0.5px solid var(--BRIGHT-BLACK);
    margin-right: 1px;
}

.show-streaming {
    padding: 8px;
}

.full-streaming-info {
    position: fixed;
    transform: translateY(10%) scale(0);
    width: 80%;
    height: 80%;
    border-radius: 1em;
    border: 2px solid var(--BRIGHT-BLACK);
    background-color: var(--BLACK);
    color: whitesmoke;
    z-index: 1;
    transition: 0.3s ease-in-out;
    transform-origin: center;
    padding: 15px;
    flex-direction: column;
    font-weight: bold;
}

.full-streaming-info div {
    margin-bottom: 10px;
    max-width: 100%;
}

.close-dial {
    position: absolute;
    top: 20px;
    right: 20px;
}

.just-watch {
    position: absolute;
    bottom: 20px;
    flex-direction: column;
}

.description {
    text-align: left;
    color: whitesmoke;
    hyphens: auto;
    font-size: 14px;
    width: 200px;
}

/* form styles */
.random-button-container {
    right: 7px;
}

.submit-button-container {
    right: 34px;
}

/* WIDE SCREENS */

@media screen and (min-width:1450px) {

    main {
        width: calc(100vw - 60px);
        justify-content: center;
    }

    form {
        width: min(80%, 1000px)
    }

    .hero-section {
        font-size: 2rem;
        width: min(80%, 1000px);
        transform: translateY(-30%)
    }

    .results-container {
        justify-content: center;
        flex-direction: row;
        align-items: start;
        margin-top: 0px;
    }

    .movie-container {
        margin-right: 20px;
        top: 0;
        width: calc(100vw / 7);
        max-width: 237px;
        margin-bottom: 0px;
    }

    .movie-poster {
        width: 100%;
    }

    .description {
        max-height: 160px;
        overflow: auto;
    }

    .full-streaming-info {
        position: absolute;
        top: 50px;
        height: 75%;
        width: 40%
    }

    .full-streaming-info.platforms-container {
        height: fit-content;
    }

    .full-streaming-info.platforms-container img {
        width: 50px;
        height: 50px
    }

}








/* ABOUT PAGE STYLES */

/* ANIMATIONS */

@keyframes flashingRedLight {
    0% {
        box-shadow: 0 0 5px 2px red
    }

    50% {
        box-shadow: 0 0 5px 3px red;
    }

    100% {
        box-shadow: 0 0 5px 2px red;
    }
}

@keyframes flashingWhiteLight {
    0% {
        box-shadow: 0 0 5px 2px white
    }

    50% {
        box-shadow: 0 0 5px 3px white;
    }

    100% {
        box-shadow: 0 0 5px 2px white;
    }
}

section {
    margin: 0px 40px;
    max-width: 750px;
}

hr {
    border: 1px solid var(--BRIGHT-BLACK);
}

footer {
    border-top: 1px solid var(--BRIGHT-BLACK);
    width: 100%;
    flex-direction: column;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: grey;
    font-size: 12px;
    padding: 30px 0px;
    margin-top: 100px;
}

footer div {
    display: flex;
    justify-content: space-between;
    width: 60%;
    max-width: 700px;
    align-items: center;
    height: 100px;
    flex-direction: column;
}

.faq-section {
    margin-top: 150px;
    flex-direction: column;
    margin-bottom: 40px;
}

.faqs {
    margin-top: 30px;
    padding: 50px 30px;
    border: 1px solid var(--BRIGHT-BLACK);
    border-radius: 1rem;
}

.faqs button {
    font-size: 2rem;
    color: whitesmoke;
    display: flex;
    align-items: start;
}

.question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.question h3 {
    padding-right: 30px;
}

.led-light {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
    animation: flashingRedLight 2s ease-in-out infinite;
    transition: 0.3s ease-in-out;
}

.faq.active .led-light {
    background-color: white;
    animation: flashingWhiteLight 2s ease-in-out infinite;
}

.answer {
    padding-right: 30px;
    max-height: 0;
    overflow: hidden;
    text-align: left;
    transition: 1s ease-in-out;
    animation-delay: 0ms;
    opacity: 0%;
    color: var(--DARK-WHITE)
}

.faq.active .answer {
    max-height: 1000px;
    opacity: 100%
}

.feedback-section {
    flex-direction: column;
    margin-top: 100px;
}

.feedback-section p {
    margin-top: 5px;
    color: grey;
}

.feedback-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    margin-top: 30px;
    border: none;
    position: inherit;
    border-radius: 1rem;
    padding: 6px;
    box-shadow: none;
}

.feedback-form button {
    color: white;
    background-color: red;
    width: 60px;
    height: 2.5em;
    border-radius: 10px;
    font-weight: bold;
    grid-column: 2/2;
    justify-self: center;
}

.feedback-form button:hover {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.75);
    transform: scale(1);
}

.feedback-form button:active {
    color: red;
    background-color: white;
}


.feedback-form-elements {
    border: 1px solid var(--BRIGHT-BLACK);
    border-radius: 10px;
    background-color: var(--BLACK);
    color: whitesmoke;
    padding: 8px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.feedback-form-elements:nth-child(2) {
    grid-column: 1;
}

.feedback-form-elements:nth-child(3) {
    grid-column: 2 /4;
}

.feedback-form-elements:nth-child(4) {
    grid-column: 1 /4;
}

.feedback-form-elements:active {
    border: 1px solid whitesmoke;
}

@media screen and (min-width:1450px) {

    footer {
        height: 200px;
        padding: 40px 0px;
    }

    footer div {
        flex-direction: row;
    }
}

/* ERROR VIEW STYLES */

.error-container {
    flex-direction: column;
    font-size: 1rem;
    position: relative;
    top: -100px;
}

.error-tv {
    transform: translateY(-90%);
    position: absolute;
}

@media screen and (min-width:1000px) {
    .error-container {
        font-size: 2rem;
    }

    .error-container img {
        width: 250px;
        height: auto;
    }
}