a {
    text-decoration: none;
    color: white;
}


a:hover {
    color: grey
}

.main-div {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    /* background-color: rgb(28, 28, 54); */
    background-color: black;
    color: white;
}

.prompt-form {
    width: 1000px;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    border: 0.25px solid white;
    background-color: black;
    color: white;
}

.movies {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.movie-div {
    max-width: 265px;
}

.movie-poster {
    height: 350px;
    border-radius: 5px;
}

.main-header {
    border-bottom: 0.1px solid white;
    display: flex;
    padding-left: 100px;

}

.logotype {
    display: flex;
}

.logo {
    width: 60px;
    height: 60px
}

.streaming-icon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}