/* LOADING SCREEN ANIMATIONS */

@keyframes loadingYellow {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes loadingAqua {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes loadingPink {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes loadingBlue {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes loadingGreen {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100);
    }

    100% {
        transform: translateX(0);
    }
}

/* RESULTS DISPLAY ANIMATIONS */

@keyframes opacity0To100 {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

/* VARIABLES */

:root {
    /*COLORS*/
    --BLACK: rgb(20, 20, 20);
    --YELLOW: rgb(255, 255, 51);
    --AQUA: rgb(10, 255, 255);
    --GREEN: rgb(22, 245, 41);
    --PINK: rgb(245, 53, 170);
    --BLUE: rgb(9, 9, 255);
}


/* ELEMENTS STYLING */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}


body {
    background-color: var(--BLACK);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
    width: calc(100vw);
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: var(--BLACK);

}

header div {
    display: flex;
    align-items: center;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 15px;
    text-align: left;
    height: 100vh;
}

form {
    display: flex;
    width: calc(100% - 30px);
    padding-bottom: 10px;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: var(--BLACK);
}

form div {
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-60%);

}

form button {
    border: 0px;
    background-color: transparent;
}

.center {
    justify-content: center;
    text-align: center;
}

.hero-section {
    height: 40vh;
    display: block;
    position: absolute;
    width: 90vw;
    transform: translateY(50%);

}

.prompt-inputbox {
    text-align: left;
    border-radius: 10px;
    padding: 5px;
    border: 0.25px solid white;
    background-color: var(--BLACK);
    color: white;
    width: 100%;
    height: 2.5em;
    position: relative;
}

.random-tooltip {
    position: absolute;
    transform: scale(0);
}

/* Loading screen elements */

.loading-screen {
    display: none;
    justify-content: center;
    align-items: center;
}

.loading-screen div {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-right: 0px;
}

.yellow-dot {
    background-color: var(--YELLOW);
    animation: loadingYellow 2s ease-in-out infinite;
}

.aqua-dot {
    background-color: var(--AQUA);
    animation: loadingAqua 2s ease-in-out infinite;
}

.green-dot {
    background-color: var(--GREEN);
}

.pink-dot {
    background-color: var(--PINK);
    animation: loadingPink 2s ease-in-out infinite;
}

.blue-dot {
    background-color: var(--BLUE);
    animation: loadingBlue 2s ease-in-out infinite;
}

/* Results elements */

.results-container {
    justify-content: space-between;
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.movie-container {
    display: flex;
    max-width: 280px;
    flex-direction: column;
    width: calc(100% - 30px);
    margin-bottom: 60px;
    opacity: 0%;
    animation: opacity0To100 1s ease-in-out 1 forwards;
}

.movie-container:nth-child(2) {
    animation-delay: 1s;
}

.movie-container:nth-child(3) {
    animation-delay: 2s;
}

.movie-container:nth-child(4) {
    animation-delay: 3s;
}

.movie-container:nth-child(5) {
    animation-delay: 4s;
}

.movie-poster {
    border-radius: 1em;
    width: 280px;
    height: auto;
    margin-bottom: 20px;
}

.movie-title {
    font-size: 2em;
}

/* .movie-title:hover{} */

.year-rating-length {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1.1em;
    border-radius: 2em;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.75em;
    color: gainsboro
}

.movie-rating-container {
    font-size: 1rem;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: bold;
}

.movie-rating-container img {
    margin-right: 3px;

}

/* border colors */

.border1 {
    border: 1px solid var(--YELLOW)
}

.border2 {
    border: 1px solid var(--AQUA)
}

.border3 {
    border: 1px solid var(--GREEN)
}

.border4 {
    border: 1px solid var(--PINK)
}

.border5 {
    border: 1px solid var(--BLUE)
}

.platforms-container {
    margin-bottom: 15px;
}

.platforms-container img {
    border-radius: 2px;
    border: 0.5px solid grey;
    margin-right: 1px;
}

.description {
    text-align: left;
    color: whitesmoke;
}

/* WIDE SCREENS */

@media screen and (min-width:1450px) {

    main {
        width: calc(100vw - 60px);
    }

    .results-container {
        justify-content: center;
        width: calc(100%);
        display: flex;
        flex-direction: row;
        align-items: start;
    }

    .movie-container {
        margin-right: 25px;
        top: 0;
        width: calc(100vw / 7);
        overflow: auto;
    }

    .movie-poster {
        width: 100%;
    }
}