a {
    text-decoration: none;
    color: white;
}


a:hover {
    color: grey
}

.main-div {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    /* background-color: rgb(28, 28, 54); */
    background-color: black;
    color: white;
}

.prompt-form {
    width: 1000px;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    border: 0.25px solid white;
    background-color: black;
    color: white;
}

.movies {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.movie-div {
    max-width: 265px;
}

.movie-poster {
    height: 350px;
    border-radius: 5px;
}

.main-header {
    border-bottom: 0.1px solid white;
    display: flex;
    padding-left: 100px;

}

.logotype {
    display: flex;
}

.logo {
    width: 60px;
    height: 60px
}

.streaming-icon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.searchbar-tools {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
    margin-bottom: 10px;
}

.searchbar-platforms {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer
}

.image-butt {
    background-color: transparent;
    /* Make the button background transparent */
    border: none;
    /* Remove the default button border */
    padding: 0;
    /* Remove any default padding */
    cursor: pointer;
    /* Add a pointer cursor on hover */
}

.random-butt {
    width: 32px;
    height: 32px;
    margin-bottom: 4px;
    margin-left: 5px;
}

.random-butt :hover {
    height: 50px;
    width: 50px;
    transition: 0.5s;
}

.searchbar-checkbox {
    display: none;
}