{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rafał Darnobid">
    <meta name="description"
        content="The main view for movvie. It consists navbar, hero section, inputbox, loading screen and results screen">
    <title>moovie</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script defer src="{% static 'about_view.js' %}"></script>
</head>

<body>
    <header>
        <a href="{% url 'mainapp:main_view_url' %}">
            <img src="{% static 'images/movvie_logo.png' %}" alt="logo" width="130">
        </a>
    </header>
    <main>
        <section class="faq-section center">
            <h1>Frequently asked questions</h1>
            <div class="faqs">
                <div class="faq">
                    <div class="question">
                        <h3>What is movvie?</h3><button class="led-light"></button>
                    </div><br>
                    <div class="answer">
                        <p>movvie is minimalistic movie recommender fueled with AI. You just have to write prompt in the
                            inputbox at the bottom of a page and movvie will recommend you five movies based on your
                            prompt. You can also draw random movies by clicking a dice button. It provides poster,
                            title, info about year of production, TMDB rating, length, available streaming platforms and
                            short desciption.</p><br>
                    </div>
                    <hr><br>
                </div>
                <div class="faq">
                    <div class="question">
                        <h3>How does it work?</h3><button class="led-light"></button>
                    </div><br>
                    <div class="answer">
                        <p>movvie is an AI tool and it uses OpenAI gpt-3.5-turbo-1106 model. Movies data comes from TMDB
                            API and streaming services info is provided by JustWatch.com</p><br>
                    </div>
                    <hr><br>
                </div>
                <div class="faq">
                    <div class="question">
                        <h3>Is it free?</h3><button class="led-light"></button>
                    </div><br>
                    <div class="answer">
                        <p>Yes, movvie is fully free for now. It generates costs tought: OpenAI API is paid, so every
                            movvie recommendation is new cost. There are also other costs like hosting a website. For
                            the best user experience our platform is ad free, so we do not make any money on it. Due to
                            that fact, if you enjoy it, please consider buying us a coffee. </p><br>
                    </div>
                    <hr><br>
                </div>
                <div class="faq">
                    <div class="question">
                        <h3>Does moovie recommend latest movies?</h3><button class="led-light"></button>
                    </div><br>
                    <div class="answer">
                        <p>movvie is running og OpenAI gpt-3.5-turbo-1106 model which is trained on a data up to
                            September 2021. Despite that it has acces to movies released after the date. It might not
                            recommend postions from latest two or three moinths, but it will easily recommend movies
                            from the last year.</p><br>
                    </div>
                    <hr><br>
                </div>
                <div class="faq">
                    <div class="question">
                        <h3>Does moovie also work for TV series?</h3><button class="led-light"></button>
                    </div><br>
                    <div class="answer">
                        <p>Our tool is designed to recommend movies, so results of asking it about TV Series might be a
                            little bit messy. But go ahead and give it a try!</p><br>
                    </div>
                    <hr><br>
                </div>
            </div>
        </section>

        <section class="feedback-section center">
            <h1>Have any other questions?</h1>
            <p>Maybe you spot an error on the page? Or you just want to give us feedback
                or idea how to improve movvie? You can do this below or just sent us email to :
            <address><a href="mailto:moovie@gmail.com">movvie@gmail.com</a></address>
            </adress>
            </p>
            <form class="feedback-form" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {{form.category|add_class:"feedback-form-elements"|attr:"placeholder:Category"}}
                {{form.mail|add_class:"feedback-form-elements"|attr:"placeholder:Email adress"}}
                {{form.content|add_class:"feedback-form-elements"|attr:"placeholder:Give us feedback!"}}
                <button type="submit">Submit</button>
            </form>
        </section>
    </main>

    <!-- Form submition succes confirmation -->
    {% if submit_succes %}
    <div class="submit-succes">Your feedback has been send! Thank you!</div>
    {% endif %}

    <footer>
        movvie is powered by:<div><a href="https://openai.com/"><img src="{% static 'images/openai-white-lockup.svg' %}"
                    alt="OpenAI" height="25" loading="lazy"></a><a href="https://www.themoviedb.org/"><img
                    src="{% static 'images/tmdb_long_logo.svg' %}" alt="TMDB" height="15" loading="lazy"></a><a
                href="https://www.justwatch.com/"><img src="{% static 'images/justwatch_logo.svg' %}" alt="JustWatch"
                    height="15" loading="lazy"></a></div>Copyright
        &copy 2024 | ravdar | All rights reserved
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            setTimeout(function() {
                document.querySelector(".submit-succes").style.top = "-50px";
            }, 2000); // 3000 milliseconds = 3 seconds
        });
    </script>

</body>

</html>

