{% load static %}
{% load widget_tweaks %}
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <title>WhatToWatch.tv</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="main-div">
        <header class="main-header">
            <div class="logotype">
                <h2>Hello</h2>
                <img class="logo" src="{% static 'logo.png' %}" alt="Logo">
                {{processing_time}}
            </div>
        </header>
        <div class="movies">
            {% for movie in response %}
            <div class="movie-div">
                <a href="{{ movie.Link }}">
                    <img class="movie-poster" src="{{ movie.Poster }}">
                </a>
                <a href="{{movie.Link}}"><span>{{movie.Title}}</span></a>
                <span>{{movie.Year}}</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    class="ipc-icon ipc-icon--star sc-bde20123-4 frBGmx" viewBox="0 0 24 24" fill="currentColor"
                    role="presentation">
                    <path
                        d="M12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72 3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5z"
                        fill="rgb(243,206,19)">
                    </path>
                </svg>
                <span>{{movie.Rating}}</span>
                <span>{{movie.Length}}</span>
                <span>{{movie.Description}}</span>
                {% for platform,url in movie.Platforms.items %}
                <img class="streaming-icon" src="{{url}}">
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <form id="my-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{prompt_form.media}}
            <div class="movies">
                <div class="searchbar-tools">{{prompt_form.platforms}}

                    <div>
                        <img id="toggleImage" clicked="0"
                            onclick='toggleImageF(this, "already_seen_button.png", "already_seen_button_on.png")'
                            class="searchbar-platforms" src="{% static 'already_seen_button.png' %}" alt="Already seen">
                        {{ prompt_form.without_seen|add_class:"searchbar-checkbox"}}
                        <img clicked="0" onclick='toggleImageF(this, "watchlist_button.png", "watchlist_button_on.png")'
                            class="searchbar-platforms" src="{% static 'watchlist_button.png' %}" alt="Watchlist">
                        {{prompt_form.only_watchlist|add_class:"searchbar-checkbox"}}
                        <img clicked="0" onclick='toggleImageF(this, "gpt4_button.png", "gpt4_button_on.png")'
                            class="searchbar-platforms" src="{% static 'gpt4_button.png' %}" alt="Advanced AI">
                        {{prompt_form.gpt_4|add_class:"searchbar-checkbox"}}
                    </div>

                    <div>
                        <img onclick='toggleImageF(this, "netflix_off.webp", "netflix.webp")' clicked="0"
                            class="searchbar-platforms" src="{% static 'netflix_off.webp' %}" alt="Netflix">
                        {{ prompt_form.netflix|add_class:"searchbar-checkbox" }}

                        <img onclick='toggleImageF(this, "amazon_prime_off.webp", "amazon_prime.webp")' clicked="0"
                            class="searchbar-platforms" src="{% static 'amazon_prime_off.webp' %}"
                            alt="Amazon Prime Video">
                        {{ prompt_form.amazon_prime|add_class:"searchbar-checkbox" }}

                        <img onclick='toggleImageF(this, "disney_plus_off.webp", "disney_plus.webp")' clicked="0"
                            class="searchbar-platforms" src="{% static 'disney_plus_off.webp' %}" alt="Disney Plus">
                        {{ prompt_form.disney_plus|add_class:"searchbar-checkbox" }}

                        <img onclick='toggleImageF(this, "hulu_off.webp", "hulu.webp")' clicked="0"
                            class="searchbar-platforms" src="{% static 'hulu_off.webp' %}" alt="Hulu">
                        {{ prompt_form.hulu|add_class:"searchbar-checkbox" }}

                        <img onclick='toggleImageF(this, "hbo_max_off.webp", "hbo_max.webp")' clicked="0"
                            class="searchbar-platforms" src="{% static 'hbo_max_off.webp' %}" alt="HBO Max">
                        {{ prompt_form.hbo_max|add_class:"searchbar-checkbox" }}

                        <img onclick='toggleImageF(this, "apple_tv_off.webp", "apple_tv.webp")' clicked="0"
                            class="searchbar-platforms" src="{% static 'apple_tv_off.webp' %}" alt="Apple TV">
                        {{ prompt_form.apple_tv|add_class:"searchbar-checkbox" }}

                        <img onclick='toggleImageF(this, "peacock_off.webp", "peacock.webp")' clicked="0"
                            class="searchbar-platforms" src="{% static 'peacock_off.webp' %}" alt="Peacock">
                        {{ prompt_form.peacock|add_class:"searchbar-checkbox" }}
                    </div>
                </div>
            </div>
            {{prompt_form.text|add_class:"prompt-form"|attr:"placeholder:Type here. Whatever you think will help."}}
            <button class="image-butt" type="button" onclick="fillAndSubmitForm()"><img class="random-butt"
                    src="{% static 'random_button.png' %}" alt="Random"></button>
        </form>
    </div>
</body>

<script>

    var staticBaseUrl = "{% static '' %}";
    function fillAndSubmitForm() {
        var form = document.getElementById("my-form");
        var textField = form.elements["text"];
        var value = "Recommend me random movies, each as different from the other as it is possible: one blockbuster, other some niche movie, other from production other tha US, etc..."

        textField.value = value;

        form.submit();

        textField.value = ""


    }

    // Variable to keep track of the current image index

    function toggleImageF(platform, img_off, img_on) {

        var imageElement = platform;
        var checkboxElement = imageElement.nextElementSibling;
        var currentImageIndex = parseInt(imageElement.getAttribute('clicked'));
        var imagePaths = [
            staticBaseUrl + img_off,
            staticBaseUrl + img_on
        ];

        currentImageIndex = (currentImageIndex === 0) ? 1 : 0;
        imageElement.src = imagePaths[currentImageIndex];

        if (checkboxElement && checkboxElement.type === 'checkbox') {
            checkboxElement.checked = (currentImageIndex === 1);
        }
        imageElement.setAttribute('clicked', String(currentImageIndex));
    }

</script>

</html>