{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rafał Darnobid">
    <meta name="description"
        content="The main view for movvie. It consists navbar, hero section, inputbox, loading screen and results screen">
    <title>moovie</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles_refactored.css' %}">
    <script src="{% static 'main_view.js' %}"></script>
</head>

<body>
    <header>
        <h1 class="logotext">movvie</h1> <!-- Later switch to img element -->
        {{processing_time}}
        <div>
            <img src="{% static 'coffee.png' %}" alt="Support me" width="30" height="30">
            <p>About</p>
        </div>
    </header>

    <main>
        <!-- Hero section -->
        {%if welcome_message %}

        <h1>Meet MovieBreak, minimalistic movie recommender fueled with AI.</h1>
        <br>
        <br>
        <p> MovieBreak, the intelligent movie matchmaker, is at your service. Share your
            prompts, and let
            MovieNeon craft a personalized movie playlist based on your preferences. Begin typing your
            prompts
            now!</p>
        <br>
        <p id="prompt-examples"></p>

        {% else %}

        <!-- Displaying results of prompt-->
        {% for movies in response %}
        <div class="movie-container">
            <a href="{{movie.Link}}"><img class="movie-poster" src="{{movie.Poster}}" alt="{{movie.Title}}"></a>
            <div class="movie-info">
                <a href="{{movie.Link}}" class="movie-title {{forloop.counter0}}">{{movie.Title}}</a>
                <div class="year-rating-length {{forloop.counter0}}">
                    <div>{{movie.Year}}</div> <!-- Should I use div here? Or rather span on p? -->
                    <div class="movie-rating-container">
                        <div>TMDB logo</div>
                        <div>{{movie.Rating}}</div>
                    </div>
                    <div>{{movie.Length}}</div>
                </div>
                <div class="platforms-container">
                    {% for platform in movie.Platforms %}
                    <img src="{{url}}" alt="{{url}}" class="streaming-icon">
                    <!-- Add streaming name as alt and links of course-->
                    {% endfor %}
                </div>
                <div class="description">{{movie.Description}}</div> <!-- Again - should I use div for this?-->
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </main>

    <div class="loading-screen">
        <div class="dot yellow-dot"></div>
        <div class="dot aqua-dot"></div>
        <div class="dot green-dot"></div>
        <div class="dot pink-dot"></div>
        <div class="dot blue-dot"></div>
    </div>


    <form method="post" onsubmit="displayLoadingScreen()">
        {% csrf_token %}
        <!--{{prompt_form.media}}?-->
        {{prompt_form.text|add_class:"prompt-form"|attr:"placeholder:Type here. Whatever you think will help."}}
        <div class="random-button-container">
            <div id="random-tooltip" class="random-tooltip">Draw random movies</div>
            <button class="random-button"><img src="{% static 'random_button.png' %}" alt="Random button" wdith="30"
                    height="30" clicked="0" onmouseover="showTooltip('random-tooltip')"
                    onmouseout="hideTooltip('random-tooltip')" onclick="pickRandomMovies()"></button>
        </div>
    </form>

</body>

</html>