{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rafał Darnobid">
    <meta name="description"
        content="The main view for movvie. It consists navbar, hero section, inputbox, loading screen and results screen">
    <title>moovie</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles_refactored.css' %}">
    <script defer src="{% static 'main_view.js' %}"></script>
</head>

<body>
    <header>
        <a href="{% url 'mainapp:main_view_url' %}">
            <h1 class="logotext">movvie</h1>
        </a> <!-- Later switch to img element -->
        <div>
            <img src="{% static 'coffee.png' %}" alt="Support me" width="30" height="30">
            <p>About</p>
        </div>
    </header>

    <main>
        {%if welcome_message %}
        <!-- Hero section -->
        <div class="hero-section">
            <h1>Meet MovieBreak, minimalistic movie recommender fueled with AI.</h1>
            <br>
            <br>
            <p> MovieBreak, the intelligent movie matchmaker, is at your service. Share your
                prompts, and let
                MovieNeon craft a personalized movie playlist based on your preferences. Begin typing your
                prompts
                now!</p>
            <br>
            <p class="prompt-examples"></p>
        </div>

        {% else %}

        <!-- Displaying results of prompt-->
        <div class="results-container center">
            {% for movie in response %}
            <div id="movie{{forloop.counter}}" class="movie-container center">
                <a href="{{movie.Link}}"><img class="movie-poster" src="{{movie.Poster}}" alt="{{movie.Title}}"
                        width="350" height="450" loading="lazy"></a>
                <div class="movie-info center">
                    <div class="title-container center">
                        <a href="{{movie.Link}}" class="movie-title {{forloop.counter}}">{{movie.Title}}</a>
                    </div>
                    <div class="year-rating-length border{{forloop.counter}}">
                        <div>{{movie.Year}}</div> <!-- Should I use div here? Or rather span on p? -->
                        <div class="movie-rating-container center">
                            <img src="{% static 'rating_star.svg' %}" width="25" height="25" loading="lazy">
                            <div class="center">{{movie.Rating}}</div>
                        </div>
                        <div>{{movie.Length}}</div>
                    </div>
                    <div class="platforms-container center">
                        {% for platform in movie.Platforms %}
                        <img src="{{platform}}" alt="{{platform}}" loading="lazy" width="35" height="35">
                        <!-- Add streaming name as alt and links of course-->
                        {% endfor %}
                        <button onclick="showFullStreaming({{ forloop.counter}})"><img
                                src="{% static 'show_streaming_button.png' %}" class="show-streaming" alt="Show more"
                                loading="lazy" width="35" height="35"></button>
                    </div>
                    <div id="full-streaming{{forloop.counter}}" class="full-streaming-info"><button>Close</button></div>
                    <div class="description">{{movie.Description}}</div> <!-- Again - should I use div for this?-->
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </main>

    <div class="loading-screen">
        <div class="yellow-dot"></div>
        <div class="aqua-dot"></div>
        <div class="green-dot"></div>
        <div class="pink-dot"></div>
        <div class="blue-dot"></div>
    </div>

    <form id="prompt-form" enctype="multipart/form-data" method="post" onsubmit="displayLoadingScreen()">
        {% csrf_token %}
        <!--{{prompt_form.media}}?-->
        {{prompt_form.text|add_class:"prompt-inputbox"|attr:"placeholder:Type here. Whatever you think will help."}}
        <div class="submit-button-container">
            <div id="submit-tooltip" class="tooltip">Submit</div>
            <button class="submit-button" clicked="0" onmouseover="showTooltip('submit-tooltip','-30%')"
                onmouseout="hideTooltip('submit-tooltip','-30%')" type="submit"><img
                    src="{% static 'submit_button.png' %}" alt="Submit" wdith="20" height="20"></button>
        </div>
        <div class="random-button-container">
            <div id="random-tooltip" class="tooltip">Draw random movies</div>
            <button class="random-button" clicked="0" onmouseover="showTooltip('random-tooltip','-42%')"
                onmouseout="hideTooltip('random-tooltip','-42%')" onclick="pickRandomMovies()"><img
                    src="{% static 'random_button.png' %}" alt="Random movies" wdith="20" height="20"></button>
        </div>
    </form>
    <div class="form-container"></div>


</body>

</html>